<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" /><plugins>
      <add name="SpecFlow.Plus.Excel" type="Generator" />
    </plugins></specFlow>
  <appSettings>
    <!--Text Fields Xpath-->

    <add key="Username" value="//*[@id='usernm']" />
    <add key="Password" value="//*[@id='passd']" />
    
    <!--Buttons Fields Xpath-->

    <add key="loginButton" value="//input[@value='Login']" />
    <!--DropList Xpath-->

    <!--Links Xpath-->
    <add key="profileName" value="//a[@href='profile.php']" />
    
   


  </appSettings>
</configuration>